PORT=5000
MONGO_DB_URI=mongodb+srv://your-user:your-password@cluster.mongodb.net/?retryWrites=true&w=majority
CLIENT_URL=https://promet-veres-system.vercel.app
AUTH_SERVER_URL=https://promet-veres-system.vercel.app
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=
